<!--<form action="/products" method="POST">
    <label for="title">Título:</label>
    <input type="text" id="title" name="title" required>
    <br>
    <br>
    <label for="description">Descripción:</label>
    <input type="text" id="description" name="description" required>
    <br>
    <br>
    <label for="code">Código:</label>
    <input type="text" id="code" name="code" required>
    <br>
    <br>
    <label for="price">Precio:</label>
    <input type="number" id="price" name="price" required>
    <br>
    <br>
    <label for="status">Status:</label>
    <input type="boolean" id="status" name="status" required>
    <br>
    <br>
    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock" required>
    <br>
    <br>
    <label for="category">Categoría:</label>
    <input type="text" id="category" name="category" required>
    <br>
    <br>
    <button type="submit">Enviar</button>
</form>-->

    {{#each products}}
        <div>
            <ul id="products">
                <li>Id: {{id}}</li>
                    <p>Título: {{title}}</p>
                    <p>Descripción: {{description}}</p>
                    <p>Código: {{code}}</p>
                    <p>Precio: {{price}}</p>
                    {{#if status}}
                        <p>Stock: {{stock}}</p>

                    {{else}}
                        <p>No Hay Stock!</p>
                    {{/if}}
                    <p>Categoría: {{category}}</p>
            </ul>
        </div>
    {{/each}}

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    socket.on('connect', () => {
        console.log('Conectado al servidor de WebSockets')
        socket.emit('message', 'Hola!')
    }) 
    
    socket.on('productAdded', data => {
            const products = document.getElementById('products')
            products.innerHTML = ''
            const maxId = Math.max(...products.map(product => product.id));
            //products.forEach(product => {
                const listItem = document.createElement('li');
                listItem.innerHTML = `
                    <p>Id: ${maxId+1}</p>
                    <p>Título: ${data.title}</p>
                    <p>Descripción: ${data.description}</p>
                    <p>Código: ${data.description}</p>
                    <p>Precio: $${data.price}</p>
                    <p>Stock: ${data.stock}</p>
                    <p>Categoría: ${data.category}</p>
                `
                products.appendChild(listItem);
            //})
        })

    socket.on('updateProduct', data => {
        const products = document.getElementById('products')
        products.innerHTML = ''
        products[data.index] = data.product
    })

    socket.on('deleteProduct', data => {
        const products = document.getElementById('products')
        products.innerHTML = ''
        products.splice(data, 1)
    })

</script>

