<!--<form action="/products" method="POST">
    <label for="title">Título:</label>
    <input type="text" id="title" name="title" required>
    <br>
    <br>
    <label for="description">Descripción:</label>
    <input type="text" id="description" name="description" required>
    <br>
    <br>
    <label for="code">Código:</label>
    <input type="text" id="code" name="code" required>
    <br>
    <br>
    <label for="price">Precio:</label>
    <input type="number" id="price" name="price" required>
    <br>
    <br>
    <label for="status">Status:</label>
    <input type="boolean" id="status" name="status" required>
    <br>
    <br>
    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock" required>
    <br>
    <br>
    <label for="category">Categoría:</label>
    <input type="text" id="category" name="category" required>
    <br>
    <br>
    <button type="submit">Enviar</button>
</form>-->

        <div>
            <ul id="products">
                {{#each products}}
                    <li>Id: {{id}}</li>
                        <p>Título: {{title}}</p>
                        <p>Descripción: {{description}}</p>
                        <p>Código: {{code}}</p>
                        <p>Precio: {{price}}</p>
                        {{#if status}}
                            <p>Stock: {{stock}}</p>

                        {{else}}
                            <p>No Hay Stock!</p>
                        {{/if}}
                        <p>Categoría: {{category}}</p>
                {{/each}}
            </ul>
        </div>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    socket.on('connect', () => {
        console.log('Conectado al servidor de WebSockets')
        socket.emit('message', 'Hola!')
    }) 
    
    socket.on('productUpdated', data => {
            const products = document.getElementById('products')
            products.innerHTML = ''
            console.log(data)
            data.forEach(product => {
                const listItem = document.createElement('li');
                listItem.innerHTML = `
                    <p>Id: ${product.id}</p>
                    <p>Título: ${product.title}</p>
                    <p>Descripción: ${product.description}</p>
                    <p>Código: ${product.description}</p>
                    <p>Precio: $${product.price}</p>
                    <p>Stock: ${product.stock}</p>
                    <p>Categoría: ${product.category}</p>
                `
                products.appendChild(listItem);
            })
        })

</script>

